[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "example/android/src/main/libopencl-stub"]
	path = example/android/src/main/libopencl-stub
	url = https://github.com/krrishnarraj/libopencl-stub.git
